Django==1.10.8
django-colorfield==0.1.14
django-filebrowser==3.7.2
django-graphiql==0.4.4
django-grappelli==2.8.1
django-summernote==0.8.5
graphene==2.0.1
graphene-django==2.0.0
iso8601==0.1.11
Pillow==3.3.0
singledispatch==3.4.0.3
sorl-thumbnail==12.4.1
six==1.10.0
dj-database-url==0.4.2
python-decouple==3.1
git+git://github.com/ilya-chistyakov/django-sorl-cropping.git#egg=django-sorl-cropping==0.1.0
raven==6.5.0
snapshottest==0.5.0
